__pycache__/analyzer_api.cpython-314.pyc
train/raw_data/cloth_al/1000/20000.bmp
train/raw_data/cloth_al/1000/40000.bmp
train/raw_data/cloth_al/1000/60000.bmp
train/raw_data/cloth_al/1000/80000.bmp
train/raw_data/cloth_al/1000/100000.bmp
train/raw_data/cloth_al/1000/120000.bmp
train/raw_data/cloth_al/500/20000.bmp
train/raw_data/cloth_al/500/40000.bmp
train/raw_data/cloth_al/500/60000.bmp
train/raw_data/cloth_al/500/80000.bmp
train/raw_data/cloth_al/500/100000.bmp
train/raw_data/cloth_al/500/120000.bmp
train/raw_data/cloth_al/600/20000.bmp
train/raw_data/cloth_al/600/40000.bmp
train/raw_data/cloth_al/600/60000.bmp
train/raw_data/cloth_al/600/80000.bmp
train/raw_data/cloth_al/600/100000.bmp
train/raw_data/cloth_al/600/120000.bmp
train/raw_data/cloth_al/700/20000.bmp
train/raw_data/cloth_al/700/40000.bmp
train/raw_data/cloth_al/700/60000.bmp
train/raw_data/cloth_al/700/80000.bmp
train/raw_data/cloth_al/700/100000.bmp
train/raw_data/cloth_al/700/120000.bmp
train/raw_data/cloth_al/800/20000.bmp
train/raw_data/cloth_al/800/40000.bmp
train/raw_data/cloth_al/800/60000.bmp
train/raw_data/cloth_al/800/80000.bmp
train/raw_data/cloth_al/800/100000.bmp
train/raw_data/cloth_al/800/120000.bmp
train/raw_data/cloth_al/900/20000.bmp
train/raw_data/cloth_al/900/40000.bmp
train/raw_data/cloth_al/900/60000.bmp
train/raw_data/cloth_al/900/80000.bmp
train/raw_data/cloth_al/900/100000.bmp
train/raw_data/cloth_al/900/120000.bmp
train/raw_data/cloth_pl/1000/20000.bmp
train/raw_data/cloth_pl/1000/40000.bmp
train/raw_data/cloth_pl/1000/60000.bmp
train/raw_data/cloth_pl/1000/80000.bmp
train/raw_data/cloth_pl/1000/100000.bmp
train/raw_data/cloth_pl/1000/120000.bmp
train/raw_data/cloth_pl/500/20000.bmp
train/raw_data/cloth_pl/500/40000.bmp
train/raw_data/cloth_pl/500/60000.bmp
train/raw_data/cloth_pl/500/80000.bmp
train/raw_data/cloth_pl/500/100000.bmp
train/raw_data/cloth_pl/500/120000.bmp
train/raw_data/cloth_pl/600/20000.bmp
train/raw_data/cloth_pl/600/40000.bmp
train/raw_data/cloth_pl/600/60000.bmp
train/raw_data/cloth_pl/600/80000.bmp
train/raw_data/cloth_pl/600/100000.bmp
train/raw_data/cloth_pl/600/120000.bmp
train/raw_data/cloth_pl/700/20000.bmp
train/raw_data/cloth_pl/700/40000.bmp
train/raw_data/cloth_pl/700/60000.bmp
train/raw_data/cloth_pl/700/80000.bmp
train/raw_data/cloth_pl/700/100000.bmp
train/raw_data/cloth_pl/700/120000.bmp
train/raw_data/cloth_pl/800/20000.bmp
train/raw_data/cloth_pl/800/40000.bmp
train/raw_data/cloth_pl/800/60000.bmp
train/raw_data/cloth_pl/800/80000.bmp
train/raw_data/cloth_pl/800/100000.bmp
train/raw_data/cloth_pl/800/120000.bmp
train/raw_data/cloth_pl/900/20000.bmp
train/raw_data/cloth_pl/900/40000.bmp
train/raw_data/cloth_pl/900/60000.bmp
train/raw_data/cloth_pl/900/80000.bmp
train/raw_data/cloth_pl/900/100000.bmp
train/raw_data/cloth_pl/900/120000.bmp
train/raw_data/cloth_zn/1000/20000.bmp
train/raw_data/cloth_zn/1000/40000.bmp
train/raw_data/cloth_zn/1000/60000.bmp
train/raw_data/cloth_zn/1000/80000.bmp
train/raw_data/cloth_zn/1000/100000.bmp
train/raw_data/cloth_zn/1000/120000.bmp
train/raw_data/cloth_zn/500/20000.bmp
train/raw_data/cloth_zn/500/40000.bmp
train/raw_data/cloth_zn/500/60000.bmp
train/raw_data/cloth_zn/500/80000.bmp
train/raw_data/cloth_zn/500/100000.bmp
train/raw_data/cloth_zn/500/120000.bmp
train/raw_data/cloth_zn/600/20000.bmp
train/raw_data/cloth_zn/600/40000.bmp
train/raw_data/cloth_zn/600/60000.bmp
train/raw_data/cloth_zn/600/80000.bmp
train/raw_data/cloth_zn/600/100000.bmp
train/raw_data/cloth_zn/600/120000.bmp
train/raw_data/cloth_zn/700/20000.bmp
train/raw_data/cloth_zn/700/40000.bmp
train/raw_data/cloth_zn/700/60000.bmp
train/raw_data/cloth_zn/700/80000.bmp
train/raw_data/cloth_zn/700/100000.bmp
train/raw_data/cloth_zn/700/120000.bmp
train/raw_data/cloth_zn/800/20000.bmp
train/raw_data/cloth_zn/800/40000.bmp
train/raw_data/cloth_zn/800/60000.bmp
train/raw_data/cloth_zn/800/80000.bmp
train/raw_data/cloth_zn/800/100000.bmp
train/raw_data/cloth_zn/800/120000.bmp
train/raw_data/cloth_zn/900/20000.bmp
train/raw_data/cloth_zn/900/40000.bmp
train/raw_data/cloth_zn/900/60000.bmp
train/raw_data/cloth_zn/900/80000.bmp
train/raw_data/cloth_zn/900/100000.bmp
train/raw_data/cloth_zn/900/120000.bmp
train/raw_data/wood_al/1000/20000.bmp
train/raw_data/wood_al/1000/40000.bmp
train/raw_data/wood_al/1000/60000.bmp
train/raw_data/wood_al/1000/80000.bmp
train/raw_data/wood_al/1000/100000.bmp
train/raw_data/wood_al/1000/120000.bmp
train/raw_data/wood_al/500/20000.bmp
train/raw_data/wood_al/500/40000.bmp
train/raw_data/wood_al/500/60000.bmp
train/raw_data/wood_al/500/80000.bmp
train/raw_data/wood_al/500/100000.bmp
train/raw_data/wood_al/500/120000.bmp
train/raw_data/wood_al/600/20000.bmp
train/raw_data/wood_al/600/40000.bmp
train/raw_data/wood_al/600/60000.bmp
train/raw_data/wood_al/600/80000.bmp
train/raw_data/wood_al/600/100000.bmp
train/raw_data/wood_al/600/120000.bmp
train/raw_data/wood_al/700/20000.bmp
train/raw_data/wood_al/700/40000.bmp
train/raw_data/wood_al/700/60000.bmp
train/raw_data/wood_al/700/80000.bmp
train/raw_data/wood_al/700/100000.bmp
train/raw_data/wood_al/700/120000.bmp
train/raw_data/wood_al/800/20000.bmp
train/raw_data/wood_al/800/40000.bmp
train/raw_data/wood_al/800/60000.bmp
train/raw_data/wood_al/800/80000.bmp
train/raw_data/wood_al/800/100000.bmp
train/raw_data/wood_al/800/120000.bmp
train/raw_data/wood_al/900/20000.bmp
train/raw_data/wood_al/900/40000.bmp
train/raw_data/wood_al/900/60000.bmp
train/raw_data/wood_al/900/80000.bmp
train/raw_data/wood_al/900/100000.bmp
train/raw_data/wood_al/900/120000.bmp
train/raw_data/wood_pl/1000/20000.bmp
train/raw_data/wood_pl/1000/40000.bmp
train/raw_data/wood_pl/1000/60000.bmp
train/raw_data/wood_pl/1000/80000.bmp
train/raw_data/wood_pl/1000/100000.bmp
train/raw_data/wood_pl/1000/120000.bmp
train/raw_data/wood_pl/500/10000.bmp
train/raw_data/wood_pl/500/20000.bmp
train/raw_data/wood_pl/500/40000.bmp
train/raw_data/wood_pl/500/60000.bmp
train/raw_data/wood_pl/500/80000.bmp
train/raw_data/wood_pl/500/120000.bmp
train/raw_data/wood_pl/600/20000.bmp
train/raw_data/wood_pl/600/40000.bmp
train/raw_data/wood_pl/600/60000.bmp
train/raw_data/wood_pl/600/80000.bmp
train/raw_data/wood_pl/600/100000.bmp
train/raw_data/wood_pl/600/120000.bmp
train/raw_data/wood_pl/700/20000.bmp
train/raw_data/wood_pl/700/40000.bmp
train/raw_data/wood_pl/700/60000.bmp
train/raw_data/wood_pl/700/80000.bmp
train/raw_data/wood_pl/700/100000.bmp
train/raw_data/wood_pl/700/120000.bmp
train/raw_data/wood_pl/800/20000.bmp
train/raw_data/wood_pl/800/40000.bmp
train/raw_data/wood_pl/800/60000.bmp
train/raw_data/wood_pl/800/80000.bmp
train/raw_data/wood_pl/800/100000.bmp
train/raw_data/wood_pl/800/120000.bmp
train/raw_data/wood_pl/900/20000.bmp
train/raw_data/wood_pl/900/40000.bmp
train/raw_data/wood_pl/900/60000.bmp
train/raw_data/wood_pl/900/80000.bmp
train/raw_data/wood_pl/900/100000.bmp
train/raw_data/wood_pl/900/120000.bmp
train/raw_data/wood_zn/1000/20000.bmp
train/raw_data/wood_zn/1000/40000.bmp
train/raw_data/wood_zn/1000/60000.bmp
train/raw_data/wood_zn/1000/80000.bmp
train/raw_data/wood_zn/1000/100000.bmp
train/raw_data/wood_zn/1000/120000.bmp
train/raw_data/wood_zn/500/20000.bmp
train/raw_data/wood_zn/500/40000.bmp
train/raw_data/wood_zn/500/60000.bmp
train/raw_data/wood_zn/500/80000.bmp
train/raw_data/wood_zn/500/100000.bmp
train/raw_data/wood_zn/500/120000.bmp
train/raw_data/wood_zn/600/20000.bmp
train/raw_data/wood_zn/600/40000.bmp
train/raw_data/wood_zn/600/60000.bmp
train/raw_data/wood_zn/600/80000.bmp
train/raw_data/wood_zn/600/100000.bmp
train/raw_data/wood_zn/600/120000.bmp
train/raw_data/wood_zn/700/20000.bmp
train/raw_data/wood_zn/700/40000.bmp
train/raw_data/wood_zn/700/60000.bmp
train/raw_data/wood_zn/700/80000.bmp
train/raw_data/wood_zn/700/100000.bmp
train/raw_data/wood_zn/700/120000.bmp
train/raw_data/wood_zn/800/20000.bmp
train/raw_data/wood_zn/800/40000.bmp
train/raw_data/wood_zn/800/60000.bmp
train/raw_data/wood_zn/800/80000.bmp
train/raw_data/wood_zn/800/100000.bmp
train/raw_data/wood_zn/800/120000.bmp
train/raw_data/wood_zn/900/20000.bmp
train/raw_data/wood_zn/900/40000.bmp
train/raw_data/wood_zn/900/60000.bmp
train/raw_data/wood_zn/900/80000.bmp
train/raw_data/wood_zn/900/100000.bmp
train/raw_data/wood_zn/900/120000.bmp
train/trained_data/aluminum/al500.bmp
train/trained_data/aluminum/al600.bmp
train/trained_data/aluminum/al700.bmp
train/trained_data/aluminum/al800.bmp
train/trained_data/aluminum/al900.bmp
train/trained_data/aluminum/al1000.bmp
train/trained_data/plated/pl500.bmp
train/trained_data/plated/pl600.bmp
train/trained_data/plated/pl700.bmp
train/trained_data/plated/pl800.bmp
train/trained_data/plated/pl900.bmp
train/trained_data/plated/pl1000.bmp
train/trained_data/zinc/zi500.bmp
train/trained_data/zinc/zi600.bmp
train/trained_data/zinc/zi700.bmp
train/trained_data/zinc/zi800.bmp
train/trained_data/zinc/zi900.bmp
train/trained_data/zinc/zi1000.bmp
workpiece_svm_model.pkl
